# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


#mongo data
.bson
.wt
.lock
.data
WiredTiger
*.swp
*.o
*.os
*.obj
*.aps
*.ilk
*.tar.gz
*.suo
*.ncb
*.idb
*.obj
*.opt
*.pch
*.jsh
*.jsall
*.pyc
*.log
*.exe
*.exp
*.lib
*.idb
*.pdb
*.manifest
*.user
*.gch
*.*sdf
*.psess
*.tmp
*.eslintcache
*#
.#*

/src/mongo/*/*Debug*/
/src/mongo/*/*/*Debug*/
/src/mongo/*/*Release*/
/src/mongo/*/*/*Release*/
/src/ipch
/src/mongo/*/ipch
/src/mongo/*/*/ipch
/src/mongo/db/.gdb*
/src/mongo/db/makefile.local
/src/mongo/db/_ReSharper.db
/src/third_party/*/*.cache
/src/third_party/*/*.tlog
/src/third_party/*/*.lastbuildstate
/buildscripts/libdeps/graph_visualizer_web_stack/build
/buildscripts/libdeps/graph_visualizer_web_stack/node_modules
package-lock.json
libdeps.graphml
config.log
settings.py
log_config.py
/tags
TAGS

# temp dirs
dump
/log
logs
docs/html
docs/latex
docs/doxygen
32bit
scratch
/multiversion_binaries

# binaries
/docgen*
/loadgen*
/mongo*
/mongobridge*
/mongocryptd*
/mongod*
/mongoed*
/mongogrid*
/mongokerberos*
/mongoldap*
/mongoperf*
/mongos*
/mongoshim*
/mongosniff*
/mongotmock*
/mongotrafficreader*
/mqlrun*
/wt*

*.tgz
*.zip
*.tar.gz

#libs
/libmongoclient.*
/libmongotestfiles.*
/libmongoshellfiles.*
/sharedclient
/genny

/emr.jar
*.class
_data/mongo/_mdb_catalog.wt
_data/mongo/_mdb_catalog.wt
_data/mongo/collection-0--5636860594670494810.wt
_data/mongo/collection-0--8314992231355545199.wt
_data/mongo/collection-2--8314992231355545199.wt
_data/mongo/collection-4--8314992231355545199.wt
_data/mongo/collection-7--8314992231355545199.wt
_data/mongo/index-1--5636860594670494810.wt
_data/mongo/index-1--8314992231355545199.wt
_data/mongo/index-3--8314992231355545199.wt
_data/mongo/index-5--8314992231355545199.wt
_data/mongo/index-6--8314992231355545199.wt
_data/mongo/index-8--8314992231355545199.wt
_data/mongo/index-9--8314992231355545199.wt
_data/mongo/mongod.lock
_data/mongo/sizeStorer.wt
_data/mongo/storage.bson
_data/mongo/WiredTiger.lock
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/WiredTigerHS.wt
_data/mongo/diagnostic.data/metrics.2022-05-02T13-32-27Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T13-32-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-26-03Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-28-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-33-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-37-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T07-57-11Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T14-23-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T19-30-17Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T20-36-02Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T20-47-59Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T07-23-51Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T09-07-43Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T09-59-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T10-19-18Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T10-23-38Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-00-38Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-05-25Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-18-29Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-26-37Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-43-48Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-04-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-07-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-10-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-19-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-23-34Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-32-56Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-35-55Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-13-07Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-17-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-18-36Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-20-09Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-23-10Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-27-57Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-29-07Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-31-33Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T18-38-10Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T18-54-18Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-05T14-17-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-06T12-52-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-06T13-05-01Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-27-08Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-34-32Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-35-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-38-03Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T18-40-32Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-38-17Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-57-26Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-58-39Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T21-39-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-08T07-06-51Z-00000
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/journal/WiredTigerLog.0000000051
_data/mongo/journal/WiredTigerPreplog.0000000001
_data/mongo/journal/WiredTigerPreplog.0000000002
_data/mongo/_mdb_catalog.wt
_data/mongo/collection-0--5636860594670494810.wt
_data/mongo/collection-0--8314992231355545199.wt
_data/mongo/collection-2--8314992231355545199.wt
_data/mongo/collection-4--8314992231355545199.wt
_data/mongo/collection-7--8314992231355545199.wt
_data/mongo/index-1--5636860594670494810.wt
_data/mongo/index-1--8314992231355545199.wt
_data/mongo/index-3--8314992231355545199.wt
_data/mongo/index-5--8314992231355545199.wt
_data/mongo/index-6--8314992231355545199.wt
_data/mongo/index-8--8314992231355545199.wt
_data/mongo/index-9--8314992231355545199.wt
_data/mongo/mongod.lock
_data/mongo/sizeStorer.wt
_data/mongo/storage.bson
_data/mongo/WiredTiger.lock
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/WiredTigerHS.wt
_data/mongo/diagnostic.data/metrics.2022-05-02T13-32-27Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T13-32-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-26-03Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-28-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-33-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-37-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T07-57-11Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T14-23-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T19-30-17Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T20-36-02Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T20-47-59Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T07-23-51Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T09-07-43Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T09-59-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T10-19-18Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T10-23-38Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-00-38Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-05-25Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-18-29Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-26-37Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-43-48Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-04-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-07-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-10-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-19-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-23-34Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-32-56Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-35-55Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-13-07Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-17-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-18-36Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-20-09Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-23-10Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-27-57Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-29-07Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-31-33Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T18-38-10Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T18-54-18Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-05T14-17-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-06T12-52-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-06T13-05-01Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-27-08Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-34-32Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-35-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-38-03Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T18-40-32Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-38-17Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-57-26Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-58-39Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T21-39-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-08T07-06-51Z-00000
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/journal/WiredTigerLog.0000000051
_data/mongo/journal/WiredTigerPreplog.0000000001
_data/mongo/journal/WiredTigerPreplog.0000000002
_data/mongo/_mdb_catalog.wt
_data/mongo/.dbshell
_data/mongo/collection-0--5636860594670494810.wt
_data/mongo/collection-0--8314992231355545199.wt
_data/mongo/collection-0-1700672956628200858.wt
_data/mongo/collection-2--8314992231355545199.wt
_data/mongo/collection-2-1700672956628200858.wt
_data/mongo/collection-4--8314992231355545199.wt
_data/mongo/collection-4-1700672956628200858.wt
_data/mongo/collection-7--8314992231355545199.wt
_data/mongo/collection-7-1700672956628200858.wt
_data/mongo/index-1--5636860594670494810.wt
_data/mongo/index-1--8314992231355545199.wt
_data/mongo/index-1-1700672956628200858.wt
_data/mongo/index-3--8314992231355545199.wt
_data/mongo/index-3-1700672956628200858.wt
_data/mongo/index-5--8314992231355545199.wt
_data/mongo/index-5-1700672956628200858.wt
_data/mongo/index-6--8314992231355545199.wt
_data/mongo/index-6-1700672956628200858.wt
_data/mongo/index-8--8314992231355545199.wt
_data/mongo/index-8-1700672956628200858.wt
_data/mongo/index-9--8314992231355545199.wt
_data/mongo/index-9-1700672956628200858.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.2022-05-02T13-32-27Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T13-32-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-26-03Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-28-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-33-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-02T14-37-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T07-57-11Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T14-23-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T19-30-17Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T20-36-02Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-03T20-47-59Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T07-23-51Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T09-07-43Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T09-59-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T10-19-18Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T10-23-38Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-00-38Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-05-25Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-18-29Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-26-37Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T11-43-48Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-04-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-07-19Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-10-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-19-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-23-34Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-32-56Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T13-35-55Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-13-07Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-17-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-18-36Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-20-09Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-23-10Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-27-57Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-29-07Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T17-31-33Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T18-38-10Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-04T18-54-18Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-05T14-17-16Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-06T12-52-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-06T13-05-01Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-27-08Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-34-32Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-35-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T17-38-03Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T18-40-32Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-38-17Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-57-26Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T19-58-39Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-07T21-39-35Z-00000
_data/mongo/diagnostic.data/metrics.2022-05-08T07-06-51Z-00000
_data/mongo/diagnostic.data/metrics.2022-06-12T10-01-50Z-00000
_data/mongo/diagnostic.data/metrics.2022-06-12T10-02-14Z-00000
_data/mongo/diagnostic.data/metrics.2022-06-12T10-03-15Z-00000
_data/mongo/diagnostic.data/metrics.2022-06-12T10-06-41Z-00000
_data/mongo/diagnostic.data/metrics.2022-06-12T10-08-34Z-00000
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/journal/WiredTigerLog.0000000005
_data/mongo/journal/WiredTigerLog.0000000051
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/_mdb_catalog.wt
_data/mongo/collection-0--795869740685109860.wt
_data/mongo/collection-2--795869740685109860.wt
_data/mongo/collection-4--795869740685109860.wt
_data/mongo/collection-7--795869740685109860.wt
_data/mongo/index-1--795869740685109860.wt
_data/mongo/index-3--795869740685109860.wt
_data/mongo/index-5--795869740685109860.wt
_data/mongo/index-6--795869740685109860.wt
_data/mongo/index-8--795869740685109860.wt
_data/mongo/index-9--795869740685109860.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.2022-06-12T14-09-39Z-00000
_data/mongo/diagnostic.data/metrics.2022-06-12T14-09-54Z-00000
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/journal/WiredTigerLog.0000000002
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data/*
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/diagnostic.data/metrics.interim
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/_mdb_catalog.wt
_data/mongo/sizeStorer.wt
_data/mongo/WiredTiger.turtle
_data/mongo/WiredTiger.wt
_data/mongo/diagnostic.data/metrics.interim
_data
