<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">

</head>

<body>
    <h1>Anasayfa</h1>


    
    {% for url in urls %}
    <p><span> Company: </span> {{ url.company}} </p>
    <p><span> Activity: </span> {{ url.activity}} </p>
    <p><span> Demand: </span> {{ url.demand}} </p>
    <p><span> Page Name: </span> {{ url.page_name}} </p>
    <p><span> Category: </span> {{ url.category}} </p>
    <p><span> Url: </span> {{ url}} </p>
    <p><span> Css: </span> {{ url.css_selector}} </p>
    <p>---------------</p>
    {% endfor %}
    
</body>

</html>